html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  max-width: 70ch;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 960px) {
  #navbar {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #footer {
    margin-bottom: 2rem;
  }

  #translationArea {
    flex-wrap: nowrap;
  }
}
